/* App.css */
.App {
  font-family: Arial, sans-serif;
}

/* Отступ для контента зависит от состояния сайдбара */
.content {
  margin-left: 40px; /* по умолчанию – когда сайдбар свернут */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar-open .content {
  margin-left: 250px;
}
