/* App.css */
.App {
  font-family: Arial, sans-serif;
}

.content {
  margin-left: 40px; /* отступ для свернутого сайдбара */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Когда у контейнера App присутствует класс sidebar-open, сдвигаем контент вправо */
.sidebar-open .content {
  margin-left: 250px;
}
