/* App.css */
/* Main container for the app */
.App {
  display: flex;
  position: relative;
}

/* Sidebar стили задаются в Sidebar.css (подключаются туда) */

/* Main content section */
.content {
  margin-left: 250px; /* Adjust for open sidebar */
  padding: 80px;      /* Отступы сверху и по бокам */
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
  width: 80%;
}

.App.sidebar-open .content {
  margin-left: 250px;
}

.App .content {
  margin-left: 40px; /* для закрытого сайдбара */
}
